<div class="container" style="background-image:url(assets/img/137937407-international-woman-day-diversity-raised-fist-strong-girl-power-concept-woman-power-flat-design-hand.webp)">
    <h2 style="color:palevioletred">Registration</h2>
    <form #registerform="ngForm" (ngSubmit)="registeruser()" >
      <div class="form-group">
        <div class="form-group">
            <label for="firstname">FirstName:</label>
            <input type="text" class="form-control" id="firstname" placeholder="Enter firstName"  required name="firstName" 
            >
            
          </div>
          <div class="form-group">
            <label for="LastName">LastName:</label>
            <input type="text" class="form-control"  placeholder="Enter LastName" required  name="LastName">
          </div>
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" required  name="email">
      </div>
      <div class="form-group">
        <label for="email">Username:</label>
        <input type="text" class="form-control"  placeholder="Enter username" required  name="username">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" required  name="pwd">
      </div>
      <div class="form-group">
        <label for="pwd">ConfirmPassword:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" required  name="pwd">
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="remember"> Remember me</label>
      </div>
      <button [disabled]="registerform.form.invalid" type="submit" class="btn btn-info" (click)="registeruser()">Register</button>
      <small class="float-right" [routerLink]="['/login']">An Existing User</small>
    </form>
  </div>
