<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">User</h4>
                        <p class="card-category">liste des Users</p>
                    </div>
                    <div>
                        <br>
                        <input class="form-control" type="text" name="username"  [(ngModel)]="username"  (ngModelChange)="Search()" placeholder="Enter FirstName to search">
                        
                    </div>
                    <div class="card-body">

                        <div class="border">
                            <button class="btn btn-md btn-outline-primary" [routerLink]="['/adduser']" >
                              <i class="fa fa-user ml-2"></i>New User</button>
                              
                              
                          </div>
                          
                        <div class="table-responsive">
                            <table class="table table-striped" id="table">
                                <thead class=" text-primary">
                                  
                                     <th >username </th>

                                     <th > password</th>
                                     <th > email</th>
                                     <th > firstName</th>
                                     <th > lastName</th>
                                     <th > birthDate</th>
                                     <th > iduser</th>
                                    
                                        
                                
                                  
                                  
                                </thead>
                                <tbody> 
                                   
                                     <tr *ngFor="let u of filtered_list " >

                                        
                                         <td>{{u.username}}</td>
                                         <td>{{u.password}}</td> 
                                         <td>{{u.email}}</td>  
                                         <td>{{u.firstName}}</td> 
                                         <td>{{u.lastName}}</td> 
                                         <td>{{u.birthDate | date:'dd/MM/yyyy'}}</td>
                                        <td>{{ u.iduser}}</td> 
                                       
                                           
                                    
                                         
                                        <button (click) = "deleteuser(u.iduser)"  class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                                        <button   class = "btn btn-success" style="margin-left: 10px"  [routerLink]="['/updateuser/:id']">Update User</button>
                                        <button   class = "btn btn-info" style="margin-left: 10px"  [routerLink]="['/user']">Back to front</button>
                                         
                                        <!-- <button type="button" class="btn btn-outline-primary" (click)="openSweetalert(u.idM)">edit</button> -->
                                        <ng-template #new let-modal style="z-index: 0 !important;">
                                            <div class="modal-header">
                                              <h4 class="modal-title" id="modal-basic-title">New user</h4>
                                              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                            
                                            </div>
                                            <div class="modal-body">
                                                <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 control-label text-nowrap"
                                                           for="username">username:</label>
                                                        <div class="col-sm-10">
                                                           <input type="text" class="form-control" ngModel id="username" name="username"/>
                                                        </div>
                                                        <label class="col-sm-2 control-label text-nowrap"
                                                        for="birthDate">birthDate:</label>
                                                     <div class="col-sm-duration">
                                                        <input type="text" class="form-control" ngModel id="birthDate" name="birthDate" />
                                                     </div>
                                                     <label class="col-sm-2 control-label text-nowrap"
                                                     for="email">email</label>
                                                  <div class="col-sm-10">
                                                     <input type="text" class="form-control" ngModel id="email" name="email" />
                                                  </div>
                                                  <label class="col-sm-2 control-label text-nowrap"
                                                  for="targetedAmount">firstName</label>
                                               <div class="col-sm-10">
                                                  <input type="text" class="form-control" ngModel id="firstName" name="firstName" />
                                               </div>
                                               <label class="col-sm-2 control-label text-nowrap"
                                               for="lastName">lastName</label>
                                            <div class="col-sm-10">
                                               <input type="text" class="form-control" ngModel id="lastName" name="lastName" />
                                            </div>
                                              
                        
                        
                        
                                            </div>
                                            <div class="border text-center">
                                                <button type="submit" class="btn btn-info">Submit</button>
                                                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel')">Cancel</button>
                        
                                                </div>
                        
                                            
                        
                                              </form>
                                            </div>
                                           
                                          </ng-template>   